.dance{
    background-color: $orange;
    display: flex;
    align-items: center;
    .dance-img{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .dance-txt{
        width: 50%;
        h2{
            @include danceh2;
        }
        p{
            @include dancep;
        }
        a{
            @include dancea;
            transition: .5s;
            &:hover{
                padding: 7px 90px;
            }
        }
    }
}
