.amazing-dance{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: $orange;
    .amazing-img{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .amazing-txt{
        padding-left: 4vw;
        width: 46%;
        h2{
            @include danceh2;
        }
        p{
            @include dancep;
        }
        a{
            @include dancea;
            transition: .5s;
            &:hover{
                padding: 7px 80px;
            }
        }
    }
}