.dance-tour{
    min-height: $height;
    width: 100vw;
    background-color: $orange;
    .dance-tour-txt{
        text-align: center;
        padding-top: 80px;
        h2{
            @include headtxt;
        }
        p{
            @include headp;
        }
    }
    .boxes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        margin-top: 8vh;
    }
    .box{   
        background-color: $darkgrey;
        cursor: pointer;
        transition: .5s;
        &:hover{
            transform: scale(1.03);
        }
        .box-txt{
            text-align: center;
            padding: 20px 0;
            @include flexcenter(column);
            h2{
                font-size: 1.5vw;
                font-family: $oswald;
                text-transform: uppercase;
            }
            p{
                font-family: $monst;
                padding-top: 10px;
                width: 300px;
            }
        }
    }
}