header{
    background-color: $darkgrey;
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        ul{
            display: flex;
            gap: 20px;
            li{
                a{
                    color: white;
                    text-decoration: none;
                    font-family: $oswald;
                    text-transform: uppercase;
                    font-size: 18px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        height: 2px;
                        width: 0px;
                        background-color: $orange;
                        display: inline-block;
                        transition: .5s;
                    }
                    &:hover::after{
                        width: 30px;
                    }
                }
            }
        }
    }
    .fa-magnifying-glass{
        color: white;
    }
    .fa-bars{
        color: white;
    }
    .burger{
        display: none;
    }
}