@media screen and (max-width:992px){
    header{
        .top-sec{
            padding: 10px 0;
        }
        .head-txt{
            a{
                font-size: 1.6vw;
            }
        }
    }
    .dance-tour{
        height: calc(100vh - 88px);
        .dance-tour-txt{
            h2{
                font-size: 3.5vw;
            }
            p{
                font-size: 1.6vw;
                width: 50vw;
            }
        }
    }
    .boxes{
        .box{
            .box-txt{
                h2{
                    font-size: 2.5vw;
                }
                p{
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    header{
        .top-sec{
            img{
                width: 70px;
            }
            nav{
                display: none;
            }
            .burger{
                display: inline-block;
            } 
        }
        .head-txt{
            a{
                font-size: 2vw;
            }
        }
    }
    .dance-tour{
        height: calc(100vh - 58px);
        .dance-tour-txt{
            h2{
                font-size: 4vw;
            }
            p{
                font-size: 2vw;
                width: 60vw;
            }
        }
        .boxes{
            gap:30px
        }
    }
}

@media screen and (max-width:576px){
    header{
        height: auto;
        .bg-image{
            height: 320px;
        }
        .bg-image img{
            height: 320px;
        }
        .head-txt{
            position: absolute;
            top: 20vh;
            left: 3vw;
        }
    }
    .dance-tour{
        height: auto;
        .dance-tour-txt{
            p{
                font-size: 2.5vw;
            }
        }
        .box{
            width: 70vw;
            img{
                width: 70vw;
            }
            &:hover{
                transform: scale(1);
            }
            .box-txt{
                h2{
                    font-size: 4vw;
                }
                p{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:375px){
    header{
        .head-txt{
            p{
                font-size: 3vw;
                width: 70vw;
            }
            a{
                font-size: 3vw;
            }
        }
    }
    .dance-tour{
        .dance-tour-txt{
            h2{
                margin-bottom: 10px;
            }
            p{
                font-size: 3vw;
                width: 70vw;
            }
        }
    }
}