@media (max-height:500px){
    .top{
        min-height: 100vh;
        .top-txt{
            top: 40%;
        }
    }
}

@media (max-width: 991.98px){
    .top{
        height: 80vh;
        header{
            img{
                width: 100px;
            }
            nav{
                display: none;
            }
            .burger{
                display: inline-block;
            }
        }
        .top-txt{
            left:3%;
            h1{
                font-size: 10vw;
            }
            p{
                font-size: 2vw;
                width: 50vw;
            }
        }
    }
}
@media (max-width: 575.98px){
    .top{
        height: 60vh;
        .top-txt{
            left:3%;
            h1{
                font-size: 10vw;
            }
            p{
                font-size: 2.5vw;
                width: 60vw;
                line-height: 15px;
            }
        }
    }
}
@media (max-width: 450px){
    .top{
        height: 50vh;
        header{
            img{
                width: 70px;
            }
        }
        .top-txt{
            width: 100vw;
            text-align: center;
            left: 0;
            p{
                width: 100vw;
                font-size: 4vw;
            }
        }
    }
}