@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;700&display=swap");
body {
  background-color: #282828;
  overflow-x: hidden;
}

h1, h2, p {
  color: white;
}

.container {
  max-width: 1400px;
}

header {
  height: 100vh;
}

header .bg-image {
  width: 100vw;
  height: 100vh;
}

header .bg-image img {
  width: 100vw;
  height: 100vh;
}

header .top-back {
  background-color: #303030;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

header .top-sec {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1400px;
}

header .top-sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header .top-sec a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
}

header .top-sec a::after {
  content: '';
  position: absolute;
  background-color: #e8631c;
  width: 0px;
  height: 2px;
  left: 0;
  bottom: -2px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .top-sec a:hover::after {
  width: 30px;
}

header .top-sec .fa-magnifying-glass {
  color: white;
  cursor: pointer;
}

header .top-sec .burger {
  display: none;
  cursor: pointer;
  color: white;
}

header .head-txt {
  position: absolute;
  top: 45vh;
  left: 3vw;
}

header .head-txt h1 {
  font-family: "Oswald", sans-serif;
  font-size: 10vw;
  text-transform: capitalize;
}

header .head-txt p {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  width: 42vw;
  margin-top: 30px;
  margin-bottom: 30px;
}

header .head-txt a {
  padding: 5px 50px;
  text-decoration: none;
  background-color: #e8631c;
  color: white;
  text-transform: uppercase;
  font-size: 1.3vw;
  font-family: "Oswald", sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

header .head-txt a:hover {
  color: #e8631c;
  background-color: transparent;
}

.dance-tour {
  min-height: calc(100vh - 108px);
  width: 100vw;
  background-color: #e8631c;
}

.dance-tour .dance-tour-txt {
  text-align: center;
  padding-top: 80px;
}

.dance-tour .dance-tour-txt h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 40px;
}

.dance-tour .dance-tour-txt p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3vw;
  width: 40vw;
  margin: 0 auto;
  line-height: 20px;
}

.dance-tour .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  margin-top: 8vh;
}

.dance-tour .box {
  background-color: #303030;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.dance-tour .box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.dance-tour .box .box-txt {
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dance-tour .box .box-txt h2 {
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.dance-tour .box .box-txt p {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  width: 300px;
}

@media screen and (max-width: 992px) {
  header .top-sec {
    padding: 10px 0;
  }
  header .head-txt a {
    font-size: 1.6vw;
  }
  .dance-tour {
    height: calc(100vh - 88px);
  }
  .dance-tour .dance-tour-txt h2 {
    font-size: 3.5vw;
  }
  .dance-tour .dance-tour-txt p {
    font-size: 1.6vw;
    width: 50vw;
  }
  .boxes .box .box-txt h2 {
    font-size: 2.5vw;
  }
  .boxes .box .box-txt p {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  header .top-sec img {
    width: 70px;
  }
  header .top-sec nav {
    display: none;
  }
  header .top-sec .burger {
    display: inline-block;
  }
  header .head-txt a {
    font-size: 2vw;
  }
  .dance-tour {
    height: calc(100vh - 58px);
  }
  .dance-tour .dance-tour-txt h2 {
    font-size: 4vw;
  }
  .dance-tour .dance-tour-txt p {
    font-size: 2vw;
    width: 60vw;
  }
  .dance-tour .boxes {
    gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  header {
    height: auto;
  }
  header .bg-image {
    height: 320px;
  }
  header .bg-image img {
    height: 320px;
  }
  header .head-txt {
    position: absolute;
    top: 20vh;
    left: 3vw;
  }
  .dance-tour {
    height: auto;
  }
  .dance-tour .dance-tour-txt p {
    font-size: 2.5vw;
  }
  .dance-tour .box {
    width: 70vw;
  }
  .dance-tour .box img {
    width: 70vw;
  }
  .dance-tour .box:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .dance-tour .box .box-txt h2 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 375px) {
  header .head-txt p {
    font-size: 3vw;
    width: 70vw;
  }
  header .head-txt a {
    font-size: 3vw;
  }
  .dance-tour .dance-tour-txt h2 {
    margin-bottom: 10px;
  }
  .dance-tour .dance-tour-txt p {
    font-size: 3vw;
    width: 70vw;
  }
}
/*# sourceMappingURL=style.css.map */